* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(135deg, #0b3c5d, #1e3c72, #4da3ff);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white
}
/* NAVBAR */
.navbar {
   position: relative;
    display: flex;
    align-items: center;
    padding: 20px 60px;
}
.logo img {
    width: 40px;
    height: auto;
    display: block;
}
nav {
   position: relative;
   left: 50%;
   transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 25px; /* espaço entre itens */
}
 nav a {
    text-decoration: none;
    color: #ddd;
    font-weight: 500;
    transition: 0.3s;
 }

 nav a:hover {
   color: white;
 }

 .login {
    background-color: #4da3ff;
    border: none;
    padding: 6px 18px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-weight: 600;
 }

 .logo img {
    width: 40px;
    height: auto;
    display: block;
 }
 /* HERO */
 .hero {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centraliza verticalmente */
    padding: 80px 60px;
 }
 /* TEXTO */
  .text h1 {
    font-size: 48px;
  }

  .text span {
    color: #4da3ff;
  }
   .text h2 {
    margin-top: 15px;
    font-weight: normal;
   }
    .text p {
        margin: 20px 0;
        max-width: 400px;
        color: #ccc;
    }
     .btn {
        background: #4da3ff;
        border: none;
        padding: 12px 20px;
        border-radius: 10px;
        color: white;
     }
     
     /* CARD (lado direito) */
     .card {
        width: 280px;
        height: 420px;
        background: linear-gradient(180deg, #3aa0ff, #0b3c5d);
        border-radius: 30px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        box-shadow: 0 8px 20px rgba(0,0,0,0.3);
        text-align: center;
     }
     .card h3 {
        font-weight: bold;
        font-size: 24px;
     }

     .card button {
        background: white;
        color: #0b3c5d;
        padding: 10px;
        border-radius: 20px;
        border: none;
        font-weight: 600;
        cursor: pointer;
     }
     @media (max-width: 800px) {
  .hero {
    flex-direction: column;
    padding: 40px 20px;
  }

  .card {
    width: 100%;
    height: auto;
    margin-top: 40px;
  }
}